#userArea {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f44336;
}

body {
    background-color: #3a3a3a;
    color: #e5e5e5;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "headline headline headline"
        "image content content"
        "image content content";
}

.headline {
    grid-area: headline;
    color: #0366d6; /* GitHub-Blau */
}

.image {
    grid-area: image;
    max-width: 100px;
    border-radius: 50%;
    margin-top: 16px;
}

.content {
    grid-area: content;
    margin-top: 16px;
}

/* Gemeinsame Stile für die Liste */
ul {
    list-style-type: none;
    padding: 0;
}

/* Stil für jedes Listenelement (Repository) */
li {
    /* border: 1px solid #e1e4e8;
    border-radius: 6px; */
    margin: 0 0 4px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(27, 31, 35, 0.1);
    border-bottom: 1px solid #e1e4e8; /* Farbe des waagerechten Strichs */
}

li:not(:last-child) {
    margin: 0 0 4px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(27, 31, 35, 0.1);
    border-bottom: 1px solid #e1e4e8; /* Farbe des waagerechten Strichs */
}

/* Stil für den Link innerhalb des Listenelements */
li a {
    text-decoration: none;
    color: #0366d6; /* GitHub-Blau */
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

/* Logout Button */
#logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #d73a49; /* GitHub-Rot */
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
